@tailwind base;
@tailwind components;
@tailwind utilities;

ul.menu {
    position: fixed !important;
    top: -.75rem;
    left: 0;
    height: 100vh;
    z-index: 999999;
}

@keyframes header {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}